@import '../../less/theme.less';

@controlToolbarMargin: 5px;

.control-toolbar {
    display: flex;
    flex-flow: row nowrap;
    padding: @paddingDefault - @controlToolbarMargin;

    &__group {
        margin: @controlToolbarMargin;

        button:not(:last-child) {
            border-right: none;
        }
    }

    &__btn-save {
        margin: @controlToolbarMargin;
        margin-left: auto;
    }
}