@import '../../less/theme.less';

.photos-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__upload {
        padding: @paddingDefault;

        border-bottom: 1px solid @colorBorderSecondary;
    }

    .photo-list {
        height: calc(100% - 60px);
    }
}